/* Define colors */
/* Navbar */
/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Oswald);
.center-text {
  text-align: center; }

.radio-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white; }
  .body a,
  .body a:hover {
    text-decoration: none;
    cursor: pointer; }
  .body a.active,
  .body a.active:hover {
    color: #003D77; }

.body,
.input,
.label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px; }

.no-top-margin {
  margin-top: 0; }

.subheading {
  color: white;
  font-size: 1.2em; }

.h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.8em; }
  .h2--navy {
    color: #003D77; }
  .h2--blush {
    color: #ff9595; }
  .h2--white {
    color: white; }

.h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em; }
  .h3--soft-navy {
    color: #4F78AB; }
  .h3--white {
    color: white; }

.section {
  color: #646262; }
  .section__h1 {
    font-family: 'Satisfy', sans-serif;
    font-size: 4em;
    color: #ff9595;
    margin: 0;
    padding: 0.7em 0;
    text-align: center;
    width: 100%; }
    .section__h1--white {
      color: white; }
  .section--navy {
    background-color: #4F78AB; }
  .section--blush {
    background-color: #ffc8c8; }

.nav {
  position: fixed;
  height: 60px;
  width: 100%;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  background-color: white;
  color: #ff9595;
  z-index: 5; }
  .nav__ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 60px; }
  .nav__li {
    padding: 0 40px; }
  .nav__a {
    transition: color 0.2s ease;
    color: #ff9595; }
  .nav__a:hover {
    color: #4F78AB; }

.anchor {
  position: relative;
  top: -50px; }

.hero {
  padding: 0;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  overflow-y: hidden;
  height: 800px;
  color: white;
  margin-top: 60px;
  /*position: relative;*/
  /*	@at-root &:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba($blush, 0.9);
	}*/ }
  .hero__h1 {
    margin: 0;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    z-index: 3; }

.overlay {
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 800px;
  z-index: 2;
  background: rgba(255, 200, 200, 0.2); }

.title {
  height: 800px;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .title__date {
    padding-top: 2em;
    font-family: 'Oswald', sans-serif;
    font-size: 3.5em; }
  .title__grace, .title__and, .title__michael {
    font-family: 'Satisfy', sans-serif; }
  .title__grace, .title__michael {
    font-size: 6em; }
  .title__and, .title__michael {
    position: relative;
    line-height: 0.7em; }
  .title__and {
    font-size: 5em;
    left: -0.3em; }

@-webkit-keyframes title-float {
  0% {
    top: 0;
    left: 0; }
  30% {
    top: 0;
    left: 6px; }
  64% {
    top: 0;
    left: -4px; } }

@keyframes title-float {
  0% {
    top: 0;
    left: 0; }
  30% {
    top: 0;
    left: 6px; }
  64% {
    top: 0;
    left: -4px; } }

.bride-and-groom {
  padding: 0; }
  .bride-and-groom__overlay {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.column-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em 0;
  padding-top: 0; }
  .column-container__column {
    margin: 0 50px;
    width: 600px; }
    .column-container__column--left {
      margin-right: 0; }
    .column-container__column--right {
      margin-left: 0; }
    .column-container__column--narrow {
      text-align: center;
      width: 300px; }
    .column-container__column--story {
      width: 400px;
      margin: 0 15px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .column-container__column--picture {
      width: 150px; }

.proposal p {
  margin-top: 20px; }

.viewport {
  width: 200px;
  height: 200px;
  border: 6px solid #7092bd;
  border-radius: 100px;
  margin: 15px;
  background-size: 100%;
  background-position: center; }
  .viewport--small {
    width: 150px;
    height: 150px;
    border-width: 4px;
    border-radius: 75px; }
  .viewport--blush {
    border-color: #ffc8c8; }
  .viewport--center {
    margin: auto; }

#viewport--grace {
  background-image: url("../img/grace-profile.jpg"); }

#viewport--michael {
  background-image: url("../img/michael-profile.jpg"); }

.bridal-party {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px; }
  .bridal-party #marcie .viewport {
    background-image: url("../img/marcie.jpg"); }
  .bridal-party #tina .viewport {
    background-image: url("../img/tina.jpg"); }
  .bridal-party #anna .viewport {
    background-image: url("../img/anna.jpg"); }
  .bridal-party #kim .viewport {
    background-image: url("../img/kim.jpg"); }
  .bridal-party #carlin .viewport {
    background-image: url("../img/carlin.jpg"); }
  .bridal-party #iain .viewport {
    background-image: url("../img/iain.jpg"); }
  .bridal-party #travis .viewport {
    background-image: url("../img/travis.jpg"); }
  .bridal-party #julian .viewport {
    background-image: url("../img/julian.jpg"); }

.member-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .member-info--right {
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .member-info__blurb {
    text-align: right; }
    .member-info__blurb--right {
      text-align: left; }

.event-info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 6em; }
  .event-info h1 {
    padding-bottom: 0; }
  .event-info__content {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .event-info__header {
    padding-bottom: 3em; }
  .event-info__info {
    width: 450px;
    height: 600px;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .event-info__info strong {
      font-weight: medium; }
    .event-info__info__detail {
      padding-bottom: 20px; }
      .event-info__info__detail:last-child {
        padding-bottom: 0;
        margin-bottom: 0; }
  .event-info__map {
    width: 450px;
    height: 600px; }
    .event-info__map img,
    .event-info__map iframe {
      border-radius: 20px; }

.button {
  height: 40px;
  width: 300px;
  background-color: white;
  color: #ff9595;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 0;
  transition: all 0.2s ease; }
  .button:focus, .button:hover, .button:active {
    background-color: #ff9595;
    border: 1px solid white;
    color: white;
    box-shadow: none; }
    .button:focus--dark, .button:hover--dark, .button:active--dark {
      border-color: #ff9595; }
  .button--dark {
    border-color: #ff9595; }

.rsvp-form {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 100%; }
  .rsvp-form__window {
    background-color: white;
    color: #646262;
    padding: 20px;
    width: 25em;
    height: 45em;
    border-radius: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3); }
    .rsvp-form__window__additional-guests {
      min-height: 50px; }
      .rsvp-form__window__additional-guests label {
        display: block; }
    .rsvp-form__window .h2 {
      margin-top: 10rpx; }
    .rsvp-form__window__close {
      padding-top: 15px; }
    .rsvp-form__window__buttons {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .rsvp-form__window__buttons span {
        padding-bottom: 5px; }
    .rsvp-form__window__form {
      width: 300px; }

.registry {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 14em; }
  .registry .section__h1 {
    padding-bottom: 0; }
  .registry__logos {
    padding-top: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    width: 75%; }
    .registry__logos__logo {
      padding: 20px;
      color: white;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .registry__logos__logo .my-registry {
        width: 25em;
        height: auto; }
      .registry__logos__logo .canadian-tire,
      .registry__logos__logo .the-bay {
        width: 15em;
        height: auto; }

.footer {
  height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3f6088;
  color: white;
  font-family: Satisfy;
  font-size: 2em; }

form,
.form-group {
  width: 100%; }

form > div {
  padding: 10px 0; }

.input {
  display: block;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #93adcd;
  width: 100%;
  padding: 20px;
  line-height: 40px;
  color: #646262;
  transition: box-shadow 0.2s ease;
  text-align: center; }
  .input:focus {
    outline: none;
    box-shadow: 0 0 3px #4F78AB; }

.label {
  color: #4F78AB;
  font-size: 1.2em;
  display: inline-block;
  font-weight: 500;
  font-family: 'Oswald', sans-serif; }

.darkness {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.checkbox {
  margin: 0; }
