/* Define colors */
/* Navbar */
/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
.body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white; }

.section {
  height: 500px; }
  .section--navy {
    background-color: #0064c8; }
  .section--blush {
    background-color: #ffc8c8; }

.nav {
  height: 60px;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  color: #ffafaf; }
  .nav__ul {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 60px; }
  .nav__li {
    padding: 0 40px; }
  .nav__a {
    color: #ffafaf; }
  .nav__a:hover {
    color: #0064c8;
    text-decoration: none; }

.hero {
  padding: 0;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  overflow-y: hidden;
  height: 700px;
  /*position: relative;*/
  /*	@at-root &:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba($blush, 0.9);
	}*/ }
  .hero__h1 {
    margin: 0;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Satisfy', sans-serif;
    font-size: 6em;
    z-index: 3;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }

.overlay {
  display: block;
  position: absolute;
  top: 60;
  left: 0;
  right: 0;
  height: 700px;
  z-index: 2;
  background: rgba(255, 200, 200, 0.2); }

.title {
  height: 700px;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
