/* Define colors */
$soft-navy: #4F78AB;
$blush: rgb(255,200,200);
$dark-blush: darken($blush, 10%);
$dark-navy: #003D77;
$body-text: #646262;

/* Navbar */
$nav-height: 60px;

$hero-height: 800px;

/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Oswald);

.center-text {
	text-align: center;
}

.body {
	display: flex;
	flex-direction: column;
	color: white;
    @at-root & a,
    		 & a:hover {
    	text-decoration: none;
    	cursor: pointer;
   	}

   	@at-root & a.active,
   			 & a.active:hover {
   		color: $dark-navy;
   	}
}

.body,
.input,
.label {
    font-family:"HelveticaNeue-Light",
				"Helvetica Neue Light",
				"Helvetica Neue",
				Helvetica, Arial,
				"Lucida Grande",
				sans-serif; 
    font-weight: 300;
    font-size: 16px;
}

.no-top-margin {
	margin-top: 0;
}

.subheading {
	color: white;
	font-size: 1.2em;
}

.h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.8em;

	@at-root &--navy {
		color: $dark-navy;
	}

	@at-root &--blush {
		color: $dark-blush;
	}

	@at-root &--white {
		color: white;
	}
}

.h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;

	@at-root &--soft-navy {
		color: $soft-navy;
	}

	@at-root &--white {
		color: white;
	}
}

.section {
	color: $body-text;

	@at-root &__h1 {
		font-family: 'Satisfy', sans-serif;
		font-size: 4em;
		color: $dark-blush;
		margin: 0;
		padding: 0.7em 0;
		text-align: center;
		width: 100%;

		@at-root &--white {
			color: white;
		}
	}

	@at-root &--navy {
		background-color: $soft-navy;
	}

	@at-root &--blush {
		background-color: $blush;
	}
}

.nav {
	position: fixed;
	height: $nav-height;
	width: 100%;
	order: -1;
	background-color: white;
	color: $dark-blush;
	z-index: 5;

	@at-root &__ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		line-height: $nav-height;
	}

	@at-root &__li {
		padding: 0 40px;
	}

	@at-root &__a {
		transition: color 0.2s ease;
		color: $dark-blush;
	}

	@at-root &__a:hover {
		color: $soft-navy;
	}
}

.anchor {
	position: relative;
	top: -$nav-height + 10;
}

.hero {
	padding: 0;
	background-image: url('../img/hero.jpg');
	background-size: cover;
	overflow-y: hidden;
	height: $hero-height;
	color: white;
	margin-top: $nav-height;
	/*position: relative;*/

	@at-root &__h1 {
		margin: 0;
		text-shadow: 0 3px 2px rgba(0,0,0,0.5);
		z-index: 3;
	}

/*	@at-root &:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background: rgba($blush, 0.9);
	}*/
}

.overlay {
  display: block;
  position: absolute;
  top: $nav-height;
  left: 0;
  right: 0;
  height: 800px;
  z-index: 2;
  background: rgba($blush, 0.2);
}

.title {
	height: $hero-height;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@at-root &__date {
		padding-top: 2em;
		font-family: 'Oswald', sans-serif;
		font-size: 3.5em;
	}

	@at-root &__grace, &__and, &__michael {
		font-family: 'Satisfy', sans-serif;
		transform: rotate(-10deg);
	}

	@at-root &__grace, &__michael {
		font-size: 6em;
	}

	@at-root &__and, &__michael {
		position: relative;
		line-height: 0.7em;
	}

	@at-root &__and {
		font-size: 5em;
		left: -0.3em;
	}
}

.bride-and-groom {
	background-image: url('../img/grace-and-michael.jpg');
	background-size: cover;
	padding: 0;

	@at-root &__overlay {
		background-color: white;
		width: 100%;
		height: 100%;
		padding-bottom: 50px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	@at-root &__info {

	}
}

.column-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 3em 0;
	padding-top: 0;

	@at-root &__column {
		margin: 0 50px;
		width: 600px;

		@at-root &--left {
			margin-right: 0;
		}

		@at-root &--right {
			margin-left: 0;
		}

		@at-root &--narrow {
			text-align: center;
			width: 300px;
		}

		@at-root &--story {
			width: 400px;
			margin: 0 15px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		@at-root &--picture {
			width: 150px;
		}
 	}
}

.proposal p {
	margin-top: 20px;
}

.viewport {
	$size: 200px;

	width: $size;
	height: $size;
	border: 6px solid lighten($soft-navy, 10%);
	border-radius: $size / 2;
	margin: 15px;
	background-size: contain;
	background-position: center;

	@at-root &--small {
		$size: 150px;
		width: $size;
		height: $size;
		border-width: 4px;
		border-radius: $size / 2;
	}

	@at-root &--blush {
		border-color: $blush;
	}

	@at-root &--center {
		margin: auto;
	}
}

#viewport--grace {
	background-image: url('../img/grace-profile.jpg');
}

#viewport--michael {
	background-image: url('../img/michael-profile.jpg');
}

.bridal-party {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 50px;

	// Bridesmaids
	#marcie .viewport {
		background-image: url('../img/marcie.jpg');
	}
	
	#tina .viewport {
		background-image: url('../img/tina.jpg');
	}
	
	#anna .viewport {
		background-image: url('../img/anna.jpg');
	}
	
	#kim .viewport {
		background-image: url('../img/kim.jpg');
	}
	
	// Groomsmen
	#carlin .viewport {
		background-image: url('../img/carlin.jpg');
	}
	
	#iain .viewport {
		background-image: url('../img/iain.jpg');
	}
	
	#travis .viewport {
		background-image: url('../img/travis.jpg');
	}
	
	#julian .viewport {
		background-image: url('../img/julian.jpg');
	}
}

.member-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	@at-root &--right {
		flex-direction: row-reverse;
	}

	@at-root &__blurb {
		text-align: right;

		@at-root &--right {
			text-align: left;
		}
	}
}

.event-info {
	display: flex;
	flex-direction: column;
	// justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 6em;

	h1 {
		padding-bottom: 0;
	}

	@at-root &__content {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	@at-root &__header {
		padding-bottom: 3em;
	}

	@at-root &__info {
		width: 450px;
		height: 600px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@at-root & strong {
			font-weight: medium;
		}

		@at-root &__detail {
			padding-bottom: 20px;

			@at-root &:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

	@at-root &__map {
		width: 450px;
		height: 600px;
		// background-image: url('../img/map.jpg');
		// background-size: cover;
		
		@at-root & img,
				 & iframe {
			border-radius: 20px;
		}
	}
}

.button {
	height: 40px;
	width: 300px;
	background-color: rgba(255,255,255,1);
	color: $dark-blush;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 20px;
	border: 1px solid white;
	border-radius: 20px;
	padding: 0;
	transition: all 0.2s ease;

	@at-root &:focus,
			 &:hover,
			 &:active{
		background-color: $dark-blush;
		border: 1px solid white;
		color: white;
		box-shadow: none;

		@at-root &--dark {
			border-color: $dark-blush;
		}
	}

	@at-root &--dark {
		border-color: $dark-blush;
	}
}

.rsvp-form {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;

    @at-root &__window {
	    background-color: white;
    	color: $body-text;
    	padding: 20px;
	    width: 25em;
	    height: 35em;
	    border-radius: 20px;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    align-items: center;
	    box-shadow: 0 7px 15px rgba(0,0,0,0.3);

	    @at-root & .h2 {
	    	margin-top: 10rpx;   
	    }

	    @at-root &__close {
	    	padding-top: 15px;
	    }

	    @at-root &__buttons {
	    	display: flex;
	    	flex-direction: column;
	    	align-items: center;
	    }

	    @at-root &__form {
	    	width: 300px;
	    }
    }
}

.registry {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8em;

    @at-root & .section__h1 {
    	padding-bottom: 0;
    }

	@at-root &__logos {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    width: 75%;


		@at-root &__logo {
			padding: 20px;
			color: white;
			display: flex;
			align-items: center;

			@at-root & .my-registry {
				width: 25em;
				height: auto;
			}

			@at-root & .canadian-tire,
					 & .the-bay {
				width: 15em;
				height: auto;
			}
		}
	}
}

form,
.form-group {
	width: 100%;
}

form > div {
	padding: 10px 0;
}

.input {
    display: block;
    height:  40px;
    border-radius: 20px;
    border: 1px solid lighten($soft-navy, 20%);
    width: 100%;
    padding: 20px;
    line-height: 40px;
    color: $body-text;
    transition: box-shadow 0.2s ease;
    text-align: center;

    @at-root &:focus {
    	outline: none;
    	box-shadow: 0 0 3px $soft-navy;
    }
}

.label {
	color: $soft-navy;
	font-size: 1.2em;
	display: inline-block;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
}

.darkness {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}










